header {
  background-color: rgba(255,255,255, 0.8);
  position:fixed;
  width:100%;
  margin:0;
}

form{
  padding:10px;
  width:100%;
}

form h1{
  display:inline-block;
}

form input{
  height:50px;
  width:49%;
  font-size:18px; 
}

form input::placeholder{
  font-size:18px;
  margin-left:40px;
}

body {
  margin:0;
  font-family: "Roboto", sans-serif;
  color: #252525;
  background: url('bkgrnd.jpg') no-repeat center center fixed;
}

main {
  padding-top:80px;
}

button{
  height:50px;
  width:49%;
  font-size:18px;
  color: #fff;
  background-color: #9F9B98;
  text-shadow: -1px 1px #8B8885;
  border: none;
  float:right;
}

button:hover {
  background-color: #817D7B;
  text-shadow: -1px 1px #8B8885;
}

.box {
  padding:5px;
  margin-bottom: 25px;
}

img {
  width:100%;
  border-radius:20px;
  max-height:190px;
  object-fit: cover;
}


a {
  color: rgb(245,222,179);
  text-decoration: none;
}

p {
  padding:0;
  margin:0;
}

h3{
  line-height:1.4;
}